@model LNkareWeb.Models.Product
<input hidden asp-for="Id" />
<div class="container backgroundWhite">
    <div class="card">
        <div class="card-header bg-light text-light ml-0 row container">
            <div class="col-12 col-md-6">
                <h1 class="text-primary">@Model.Name</h1>
            </div>
            <div class="col-12 col-md-6 text-md-right pt-4">
                <span class="badge badge-warning pt-2" style="height:30px;">@Model.Category.Name</span>
            </div>
        </div>
        <div class="card-body">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="row pl-2">
                            <p class="text-secondary">@Html.Raw(Model.Description)</p>
                        </div>
                        <br />
                        <div class="card-header bg-light text-light ml-0 row container">
                            <div class="col-12 col-md-6">
                                <h1 class="text-black-50">Image</h1>
                            </div>
                        </div>
                        <div class="row pl-2">
                            @foreach (var item in Model.Imgage)
                            {
                                <div class="col-lg-3 col-md-6">
                                    <div class="row p-2 ">
                                        <div class="col-12  p-1" style="border:3px solid #008cba; border-radius: 5px;">
                                            <div class="card" style="border:0px;">
                                                <img src="@item" style="height:300px" class="card-img-top rounded" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-6 pb-1">
                    <a asp-action="Index" class="btn btn-success form-control  btn-square btn-lg" style="height:50px;">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

